body 
{
  background-color: lightslategrey;
}

p 
{
  font-size: 10%;
}

h1 
{
  color: gold;
  font-family: verdana;
  font-size: 300%;
}

p 
{
  color: white;
  font-family: courier;
  font-size: 160%;
}
