body 
{
  background-color: dimgrey;
}

h1 
{
  color: black;
  font-family: verdana;
  font-size: 300%;
}

h2 
{
  color: gold;
  font-family: verdana;
  font-size: 200%;
}

p 
{
  color: white;
  font-family: verdana;
  font-size: 90%;
}
